.movie-result-item:hover,
.tv-result-item:hover {
  transform: scale(1.5);
  transition: transform 0.6s;
  z-index: 1;
  cursor: pointer;
}
.movies-tv-tags {
  display: flex;
  gap: 12rem;
  justify-content: center;
  margin-top: -3vw;
}
.movie-result-container,
.tv-result-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 15px;
}

.movie-button:hover,
.tv-button:hover {
  text-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 10px #fff;
  cursor: grab;
}
.next-prev-buttons {
  display: flex;
  border-top: 2px solid white;
  justify-content: space-between;
}
#next,
#prev {
  color: red;
  cursor: pointer;
}
.people-result-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
#filter-options {
  height: 2vw;
  width: 10vw;
  border-radius: 10px;
  background-color: rgba(3, 63, 106, 0.811);
  color: white;
  font-weight: bold;
}
.filter-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv-result-item,
.movie-result-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rating-circle {
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  scale: 0.4;
}
