.menu-filter-options {
  display: flex;
  align-items: center;
  gap: 35px;
  margin: 0 2vw 0 53vw;
  flex: 1 1 100px;
  transition: all 0.3s ease;
}
.menu-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 99vw;
  min-height: fit-content;
  background-color: rgba(3, 63, 106, 0.811);
}
.menu-title {
  text-decoration: underline;
  margin-top: 18px;
  margin-left: 15px;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #ffffff86;
}
.menu-title,
.menu-filter-options {
  cursor: pointer;
}
.menu-search-bar {
  position: fixed;
  margin-top: 200px;
}
