.pop-up-window {
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  width: fit-content;
  margin-top: 5vw;
  margin-left: 20vw;
  border: 12px solid steelblue;
  border-radius: 5px;
}

.pop-up-results {
  display: flex;
  background-color: rgb(116, 116, 116);
  padding: 5vw;
  flex-direction: column;
  min-height: 40vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
  background-color: "rgba(0, 0, 0, 0.5)";
  background: linear-gradient(to right, red, blue, green);
  color: white;
}
.pop-up-results h1 {
  text-decoration: underline;
}

.pop-up-results-more-info {
  border-top: 2px solid black;
  display: flex;
  gap: 40px;
  color: white;
}
.pop-up {
  width: fit-content;
  border: none;
}
.close-x {
  color: red;
  position: absolute;
  margin: 0 0 34vw 50vw;
  scale: 2;
  font-weight: 200;
  cursor: pointer;
}
