/* style={{
    overlay: {
      backgroundColor: "rgba(0, 0, 0, 0.5)",
    },
    content: {
      top: "50%",
      left: "50%",
      right: "auto",
      bottom: "auto",
      marginRight: "-50%",
      transform: "translate(-50%, -50%)",
    }, */

.pop-up-window {
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 100vw;
  margin-top: 10vw;
}

.pop-up-results {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  width: 50vw;
  margin-left: 25%;
  justify-content: center;
  align-items: center;
  background-color: "rgba(0, 0, 0, 0.5)";
}

.pop-up-results-more-info {
  border-top: 2px solid black;
  display: flex;
  gap: 40px;
}
