.rating-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress {
  --size: 100px;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #040303ee;
  display: flex;
  place-content: center;
  color: white;
}
.progress-value {
  width: calc(var(--size));
  transform: scale(1.2);
  aspect-ratio: 1;
  z-index: -1;
  content: attr(data-value);
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-size: calc(var(--size) * 0.3);
  font-weight: bold;
  color: white;
  background: conic-gradient(
    var(--progress-color) calc(var(--value) * 1%),
    black calc(var(--value) * 1%)
  );
}

.progress.red {
  --progress-color: red;
}

.progress.orange {
  --progress-color: orange;
}

.progress.yellow {
  --progress-color: yellow;
}

.progress.green {
  --progress-color: green;
}
