.search-result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 70vw;
  padding-top: 20px;
  min-height: 70vh;
}
.search-result-item {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}
.search-rating-circle {
  scale: 1;
  margin-left: -8vw;
}
.search-result-image {
  height: 22vw;
  width: 15vw;
}
.no-results {
  height: 65vh;
  color: red;
}
