
.banner-results-container {
    overflow-x: auto;
    white-space: nowrap;
    /* justify-content: flex-end; */
    position: relative;
}

.banner-results {
    display: flex;
    margin-left: 170vw;
    gap: 10px;
}

@keyframes scroll {
    0% {
      transform: translateX(1000%);
    }
    50% {
      transform: translateX(-2400%);
    }
    100% {
      transform: translateX(1000%);
    }
    
  }

.banner-result-item {
    display: flex;
    white-space: normal;
    animation: scroll 50s linear infinite; 
}
.banner-results:hover .banner-result-item {
  animation-play-state: paused;
  cursor: pointer;
}